.btn-primary {
    background: linear-gradient(45deg, #fa7370, #ff9a72);
    border: none;
}
.btn-primary:hover {
    background: linear-gradient(45deg, #ff9a72, #fa7370);
}
.nav-link {
    font-weight: 500;
}
.navbar-brand span {
    font-size: 1.25rem;
}
.carousel-inner img {
    max-height: 400px;
    object-fit: cover; 
}
.about {
    background-color: #ebe6f1;
}
.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Make the first image span both rows */
.img-large {
    grid-row: 1 / 3;
}
.about-right h4 {
    font-weight: 500; 
            font-size: 18px;
            line-height: 18px;
            color: #111111;
}
.about-right h2 {
    font-weight: 900; 
            font-size: 48px;
            line-height: 58px;
            color: #111111;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.row-span-2 {
    grid-row: span 2;
}
.col-span-2 {
    grid-column: span 2;
}


.pricing-card {
    max-width: 300px; 
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; 
}
.pricing-card h5 {
    font-size: 1.1rem; 
    margin-bottom: 10px;
    font-weight: bold;
}
.pricing-card p {
    font-size: 0.9rem;
    color: #6c757d;
}
.price {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-purchase {
    background-color: #ff7e29;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
}
.btn-purchase:hover {
    background-color: #ff9c5c;
}

.pricing-card:hover {
    background-color: black;
    color: white;
}
